<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myewaste">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEwaste">
        <activity
            android:name=".ui.teller.SearchUserActivity"
            android:exported="false" />
        <activity android:name=".ui.component.task.DetailTransactionItemActivity" />
        <activity android:name=".ui.component.task.DetailTransactionSaldoActivity" />
        <activity android:name=".SettingDownloadExcel" />
        <activity android:name=".ui.component.task.AddUpdateTransactionSaldoActivity" />
        <activity android:name=".ui.admin.task.AddUpdateItemMasterActivity" />
        <activity android:name=".ui.admin.task.AddUpdateItemTypeActivity" />
        <activity android:name=".ui.component.task.AddUpdateTransactionItemActivity" />
        <activity android:name=".ui.component.task.AddUserActivity" />
        <activity android:name=".ui.admin.task.ItemUnitActivity"
            android:exported="false"/>
        <activity android:name=".ui.admin.task.ItemMasterTypeActivity"
            android:exported="false"/>
        <activity android:name=".ui.admin.task.ItemMasterActivity"
            android:exported="false"/>
        <activity android:name=".ui.component.task.TransactionItemActivity" />
        <activity android:name=".ui.component.task.TransactionSaldoActivity" />
        <activity android:name=".ui.nasabah.DataSaldoNasabahActivity" />
        <activity android:name=".DataPotonganActivity" />
        <activity android:name=".ui.profile.ProfileUserActivity"
            android:exported="false"/>
        <activity android:name=".ui.component.task.DataUserActivity" />
        <activity android:name=".ui.nasabah.NasabahActivity"
            android:exported="false"/>
        <activity android:name=".ui.teller.TellerActivity"
            android:exported="false"/>
        <activity android:name=".ui.admin.AdminActivity"
            android:exported="false"/>
        <activity android:name=".ui.login.LoginActivitiy"
            android:exported="false"/>
        <activity android:name=".ui.login.ForgotPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>